HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### metals ###
.metals/metals.h2.db  
.metals/

lib/


### NODE ###
.DS_Store
node_modules/
dist/
*.log

**/package-lock.json
package-lock.json
tiw5-projetbu.tar

serveur\public\noticesErreurs.json

